# ocaml
*.cmo
*.cma
*.cmi
*.out
*.cmx
*.native
*.byte
_build
.ocamlinit

# temporary files
*.swp
*~
\#*\#
.DS_Store

# bisect
_coverage
bisect*.coverage

#gui/data
/gui/data/*.json

# zip file
monopoly.zip